Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [24]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')

best_ratings = ratings[ratings.rating ==5].groupby('movieId').count().sort_values(by = ['rating'],ascending =[False]).head(1)

best_ratings.merge(movies, on = 'movieId')[['title', 'rating']]

                              title  rating
0  Shawshank Redemption, The (1994)     153

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [42]:
data = pd.read_csv('ml-latest-small/power.csv')

data[data['country'].isin(['Lithuania','Latvia','Estonia']) 
     & data['category'].isin([4,12,21]) 
     & data['year'].isin(range(2005,2011))].groupby('country').sum()[['quantity']]

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122197.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [44]:
page = pd.read_html('https://fortrader.org/quotes')

page[0]

                               Type    Last   Chg.  Chg.%  Time
0  Нефть (BRENT) Курс нефти сегодня  62.650  0.240   0.38   NaN
1   Нефть (WTI) Цены на нефть (WTI)  57.380  0.250   0.44   NaN
2          Сахар котировки на сахар  12.630  0.000   0.00   NaN
3                   Газ Цена на газ   2.583 -0.029  -1.11   NaN